<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.amiactive.mapper.kks05.LoginUserManagementMapper">

    <select id="search" resultType="jp.co.amiactive.dto.LoginUserManagement">
        SELECT 
        USER_ID, 
        PASSWORD, 
        HIGHEST_AUTHORITY, 
        EMPLOYEE_CD
        FROM user_table
        WHERE DELETE_FLG = '0'
        AND USER_ID = #{userId}
        AND PASSWORD = #{password}
    </select>
    
    <insert id="insert" parameterType="map">
        INSERT INTO USER_TABLE
            (USER_ID, 
             PASSWORD, 
             HIGHEST_AUTHORITY, 
             EMPLOYEE_CD, 
             INSERT_DATE, 
             DELETE_FLG)
        VALUES(
            #{userId},
            #{password},
            false,
            #{employeeCd},
            CURRENT_TIMESTAMP,
            '0'
              )
    </insert>
</mapper>